{% extends "layout.html" %}
{% block content %}
	{% for post in posts.items %}
	
	<div class="p-4 p-md-4 mb-4 text-white rounded bg-dark">
		<div class="col-md-12 px-4">
			<h1 class="display-5 fst-italic ">{{ post.title }}</h1>
			<small class="text-muted"><i class="bi bi-calendar-date"></i> {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
			<p class="lead my-3">{{ post.content|truncate(400) }}</p>
			<div class="row justify-content-between">
				<div class="col-2"><a class="btn btn-outline-light mb-4" href="{{ url_for('posts.post', post_id=post.id) }}">Continuar leyendo...</a></div>
				<div class="col-2	"><a class="btn btn-outline-info mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}"><i class="bi bi-person-circle"></i> Por: {{ post.author.username }}</a></div>
			</div>
		</div>
		
	</div>

	{% endfor %}

	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if posts.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
		...
		{% endif %}
	{% endfor %}
{% endblock content %}